@page "/fetchdata"
@using OEZZ.ERP.SPA.Models
@using OEZZ.ERP.SPA.Models.Enums
@using OEZZ.ERP.Application.UseCases.Products.ListProducts
@using OEZZ.ERP.Application.Base
@using OEZZ.ERP.Application.Common.DTOs
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (products == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Subcategory</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.SubcategoryId</td>
                <td>@product.Status</td>
                <td>@product.CreatedAt.ToString("g")</td>
                <td>@product.UpdatedAt.ToString("g")</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ProductDto[]? products;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<Result<PaginatedResponse<ProductDto>>>("api/Products");
        products = result?.Data?.Data.ToArray();
    }
}